.back {
background-color: #003280;
background-image: linear-gradient(rgba(255,255,255,0.2) 2px, transparent 2px),
linear-gradient(90deg, rgba(255,255,255,0.2) 2px, transparent 1px),
linear-gradient(rgba(255,255,255,0.1) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.1) 1px, transparent 1px);
background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

#install-box {
    background-color: #37414f;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}
#install-btn {
    font-size: medium;
    padding: 20px 10px 20px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 100%;
    background-color: springgreen;
}
@media all and (display-mode: standalone) {
    #install-box {
        display: none;
    }
  }