/* CSS HEX */
:root {
--crimson: #dc143cff;
--navy-blue: #000080ff;
--purple: #5214c0;
--spring-green: #00ff80ff;

/* CSS HSL */
--crimson-hsl: hsla(348, 83%, 47%, 1);
--navy-blue-hsl: hsla(240, 100%, 25%, 1);
--patriarch-hsl: hsla(300, 100%, 25%, 1);
--spring-green-hsl: hsla(150, 100%, 50%, 1);
}

/* SCSS HEX */
$crimson: #dc143cff;
$navy-blue: #000080ff;
$patriarch: #800080ff;
$spring-green: #00ff80ff;

/* SCSS HSL */
$crimson: hsla(348, 83%, 47%, 1);
$navy-blue: hsla(240, 100%, 25%, 1);
$patriarch: hsla(300, 100%, 25%, 1);
$spring-green: hsla(150, 100%, 50%, 1);

/* SCSS RGB */
$crimson: rgba(220, 20, 60, 1);
$navy-blue: rgba(0, 0, 128, 1);
$patriarch: rgba(128, 0, 128, 1);
$spring-green: rgba(0, 255, 128, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #dc143cff, #000080ff, #800080ff, #00ff80ff);
$gradient-right: linear-gradient(90deg, #dc143cff, #000080ff, #800080ff, #00ff80ff);
$gradient-bottom: linear-gradient(180deg, #dc143cff, #000080ff, #800080ff, #00ff80ff);
$gradient-left: linear-gradient(270deg, #dc143cff, #000080ff, #800080ff, #00ff80ff);
$gradient-top-right: linear-gradient(45deg, #dc143cff, #000080ff, #800080ff, #00ff80ff);
$gradient-bottom-right: linear-gradient(135deg, #dc143cff, #000080ff, #800080ff, #00ff80ff);
$gradient-top-left: linear-gradient(225deg, #dc143cff, #000080ff, #800080ff, #00ff80ff);
$gradient-bottom-left: linear-gradient(315deg, #dc143cff, #000080ff, #800080ff, #00ff80ff);
$gradient-radial: radial-gradient(#dc143cff, #000080ff, #800080ff, #00ff80ff);
